.container {
    display: flex;
  }
    
  .leftContainer {
    flex: 2;
  }
    
  .rightContainer {
    flex: 1;
    padding: 20px;
  }
  
  @media (max-width: 767px) {
    .rightContainer {
      display: none;
    }
  }
  
  
  